body, ul {
    background-color: #1e1919;
    margin: 0;
    padding-top: 40px;
}

#menu {
    display: flex; 
    justify-content: center;
    margin-bottom: 70px;
}

#menu button {
    background-color: #1e1919;
    margin: 0 15px;
    color: rgb(173, 92, 239);
    padding: 10px 10px;
    display: block;
    font-family: Trebuchet MS, fantasy;
    letter-spacing: 1px;
}

#menu button:hover {
    background-color: #280347;
}

#photo_section img {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: brightness(90%) contrast(90%);
}


#about_us, #sections, #projects, #gallery, #english, #hardware, #programming, #dj, #music_prod, #podcast, #electr_flute, #synth,
#theremin, #pianola {
    display: none;
    font-family: Trebuchet MS, sans-serif;
}

#about_us h1 {
    font-family: Trebuchet MS, sans-serif;
    color:rgb(173, 92, 239);
    letter-spacing: 3px;
    text-align: center;
}
#about_us h2, #electr_flute h2, #synth h2, #theremin h2, #pianola h2 {
    font-family: Trebuchet MS, sans-serif;
    color:rgb(184, 32, 121);
    letter-spacing: 1px;
    text-align: left;
    margin-top: 50px;
    font-style: italic;
}

#sections h1, #projects h1 {
    font-family: Trebuchet MS, sans-serif;
    color:rgb(173, 92, 239);
    letter-spacing: 3px;
    text-align: center;
}

#content > div {
    width: 100%;
    height: 100vh;
    color:white;
    font-family: Trebuchet MS, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

#menu_sec {
    display: flex; 
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 190px;
}

#menu_sec button {
    background-color: #1e1919;
    margin: 0 15px;
    color:rgb(32, 184, 136);
    padding: 10px 10px;
    display: block;
    font-family: Trebuchet MS, fantasy;
    letter-spacing: 1px;
}

#menu_sec button:hover {
    background-color: #034741;
}

#menu_proj {
    display: flex; 
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 190px;
}

#menu_proj button {
    background-color: #1e1919;
    margin: 0 15px;
    color:rgb(55, 132, 210);
    padding: 10px 10px;
    display: block;
    font-family: Trebuchet MS, fantasy;
    letter-spacing: 1px;
}

#menu_proj button:hover {
    background-color: #0b0347;
}

#hardware h1, #programming h1, #dj h1, #music_prod h1, #podcast h1 {
    font-family: Trebuchet MS, sans-serif;
    color:rgb(173, 92, 239);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 190px;
}
#electr_flute h1, #synth h1, #theremin h1, #pianola h1 {
    font-family: Trebuchet MS, sans-serif;
    color:rgb(173, 92, 239);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 100px;
}
    
    

