body, ul {
    background-color: #000000;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 50px;
}

#menu {
    display: flex; 
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 30px;
}

#menu button {
    background-color: #000000;
    margin: 0 30px;
    color: #FFFFFF;
    padding: 10px 10px;
    display: block;
    font-family: Courier, monospace;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
}

#menu button:hover {
    background-color: #666836;
}

#photo_section svg {
    max-width: 1000px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.animation_wire_1 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-width: 0.827205;
    animation: wireColorChange1 15s infinite alternate;
}

.animation_wire_2 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-width: 0.827205;
    animation: wireColorChange2 15s infinite alternate;
}

.animation_wire_3 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-width: 0.827205;
    animation: wireColorChange3 15s infinite alternate;
}

.animation_dots_1 {
    animation: dotColorChange1 15s infinite alternate;
}

.animation_dots_2 {
    animation: dotColorChange2 15s infinite alternate;
}

.animation_dots_3 {
    animation: dotColorChange3 15s infinite alternate;
}

@keyframes wireColorChange1 {
    0% { stroke: #E01A4F; }    
    10% { stroke: #3C0086; }
    20% { stroke: #0A2363; }   
    30% { stroke: #31C4B2; }  
    40% { stroke: #FF216E; } 
    50% { stroke: #D90627; } 
    60% { stroke: #20B888; }   
    70% { stroke: #E01A4F; } 
    80% { stroke: #32C3B4; } 
    90% { stroke: #820263; } 
    100% { stroke: #0A2363; }  
}

@keyframes wireColorChange2 {
    0% { stroke: #FDC12D; }    
    10% { stroke: #E97AF3; }
    20% { stroke: #D5335C; }   
    30% { stroke: #FF3366; }  
    40% { stroke: #FBFF12; } 
    50% { stroke: #9197AF; } 
    60% { stroke: #393D3F; }   
    70% { stroke: #FAC22F; } 
    80% { stroke: #E71D35; } 
    90% { stroke: #01A777; } 
    100% { stroke: #FBFF87; }  
}

@keyframes wireColorChange3 {
    0% { stroke: #53B3CB; }    
    10% { stroke: #6201B3; }
    20% { stroke: #3D92CB; }   
    30% { stroke: #21A4B6; }  
    40% { stroke: #41EAD5; } 
    50% { stroke: #F02D3B; } 
    60% { stroke: #9B2226; }   
    70% { stroke: #ED5A4A; } 
    80% { stroke: #FF9F1C; } 
    90% { stroke: #FB8B25; } 
    100% { stroke: #3D92CB; }   
}

@keyframes dotColorChange1 {
    0% { fill: #E01A4F; }    
    10% { fill: #3C0086; }
    20% { fill: #0A2363; }   
    30% { fill: #31C4B2; }  
    40% { fill: #FF216E; } 
    50% { fill: #D90627; } 
    60% { fill: #20B888; }   
    70% { fill: #E01A4F; } 
    80% { fill: #32C3B4; } 
    90% { fill: #820263; } 
    100% { fill: #0A2363; } 
}

@keyframes dotColorChange2 {
    0% { fill: #FDC12D; }    
    10% { fill: #E97AF3; }
    20% { fill: #D5335C; }   
    30% { fill: #FF3366; }  
    40% { fill: #FBFF12; } 
    50% { fill: #9197AF; } 
    60% { fill: #393D3F; }   
    70% { fill: #FAC22F; } 
    80% { fill: #E71D35; } 
    90% { fill: #01A777; } 
    100% { fill: #FBFF87; } 
}

@keyframes dotColorChange3 {
    0% { fill: #53B3CB; }    
    10% { fill: #6201B3; }
    20% { fill: #3D92CB; }   
    30% { fill: #21A4B6; }  
    40% { fill: #41EAD5; } 
    50% { fill: #F02D3B; } 
    60% { fill: #9B2226; }   
    70% { fill: #ED5A4A; } 
    80% { fill: #FF9F1C; } 
    90% { fill: #FB8B25; } 
    100% { fill: #3D92CB; } 
}

#flute_photo img {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: brightness(90%) contrast(90%);

}


#about_us, #sections, #projects, #lang_switch, #hardware, #programming, #dj, #music_prod, #podcast, #electr_flute, #synth,
#theremin, #pianola {
    display: block;
    font-family: Courier, monospace;
}

#about_us h1 {
    font-family: Courier, monospace;
    color:#FBFF87;
    letter-spacing: 3px;
    text-align: center;
}

.socials_icons a {
    text-decoration: none;
    font-size: 30px;
    margin: 0 15px;
    color: #FFFFFF;
    margin-top: 20px;
}

.gh_icon a {
    text-decoration: none;
    font-size: 30px;
    margin: 0 15px;
    color: #FFFFFF;
    margin-top: 20px;
}

#about_us h2, #electr_flute h2, #synth h2, #theremin h2, #pianola h2 {
    font-family: Courier, monospace;
    color:#C6AC8F;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 50px;
}

#sections h1 {
    font-family: Courier, monospace;
    color:#D80032;
    letter-spacing: 3px;
    text-align: center;
}

#projects h1 {
    font-family: Courier, monospace;
    color:#7353BA;
    letter-spacing: 3px;
    text-align: center;
}

#content > div {
    width: 100%;
    min-height: 100vh;
    color:white;
    font-family: Courier, monospace;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

#menu_sec {
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 190px;
}

#menu_sec button {
    background-color: #000000;
    margin: 0 15px;
    color:#8D99AE;
    padding: 10px 10px;
    display: block;
    font-family: Courier, monospace;
    letter-spacing: 1px;
    border: none;
    font-size: 16px;
}

#menu_sec button:hover {
    background-color: #EF233C;
}

#menu_proj {
    display: flex; 
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 190px;
}

#menu_proj button {
    background-color: #000000;
    margin: 0 15px;
    color: #EFC3F5;
    padding: 10px 10px;
    display: block;
    font-family: Courier, monospace;
    letter-spacing: 1px;
    border: none;
    font-size: 16px;
}

#menu_proj button:hover {
    background-color: #2F195F;
}

#hardware h1, #programming h1, #dj h1, #music_prod h1, #podcast h1 {
    font-family: Courier, monospace;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 190px;
    color: #D80032 ;
}
#electr_flute h1, #synth h1, #theremin h1, #pianola h1 {
    font-family: Courier, monospace;
    color:rgb(173, 92, 239);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 50px;
}
    
    

