body, ul {
    background-color: #1e1919;
    margin: 0;
    padding-top: 40px;
}

#menu {
    display: flex; 
    justify-content: center;
    margin-bottom: 70px;
}

#menu button {
    background-color: #1e1919;
    margin: 0 15px;
    color: rgb(173, 92, 239);
    padding: 10px 10px;
    display: block;
    font-family: Trebuchet MS, fantasy;
    letter-spacing: 1px;
}

#menu button:hover {
    background-color: #280347;
}

#photo_section img {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: brightness(90%) contrast(90%);
}


#about_us, #sections, #projects, #gallery, #english {
    display: none;
}

#content > div {
    width: 100%;
    height: 100vh;
    color:rgb(173, 92, 239);
    justify-content: center;
    font-family: Luminary, fantasy;
    letter-spacing: 2px;
    text-align: center;

}
    
    

